<h1 mat-dialog-title>Adicionar Transação</h1>
<div mat-dialog-content>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" style="width: 100%;">
    <div class="form-container">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="valor" type="number" required />
        <mat-error *ngIf="transactionForm.get('valor')?.invalid">
          Valor é obrigatório e de ser um número positivo.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="transactionForm.get('data')?.invalid">
          Data é obrigatória.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo" required>
          <mat-option value="1">Receita</mat-option>
          <mat-option value="2">Despesa</mat-option>
        </mat-select>
        <mat-error *ngIf="transactionForm.get('tipo')?.invalid">
          Tipo é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria" required>
          <mat-option value="1">Aluguel</mat-option>
          <mat-option value="2">Pagamento</mat-option>
          <mat-option value="3">Prolabore</mat-option>
          <mat-option value="4">Outros</mat-option>
        </mat-select>
        <mat-error *ngIf="transactionForm.get('categoria')?.invalid">
          Categoria é obrigatória.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="primary" (click)="onSubmit()">Adicionar</button>
  <button mat-button (click)="onCancel()">Cancelar</button>
</div>
